*{
  font-family: 'Roboto Mono', monospace;
}
body {
  color: white;
  background-color: black;
}
#banner {
  z-index: 1;
  background: url("../img/main.JPG");
  min-height: 90vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 10rem;
  background-size: contain;
}
.line_between {
  border-left: 2px solid  #dc3545 ;
}
#visit:hover {
  box-shadow: -10px -10px 2px #dc354696;
}
#contact:hover {
  box-shadow: 10px 10px 2px #dc354696;
}
#about {
  background-color: rgba(255, 255, 255, 0.212);
}
#skills {
  min-height: 60vh;
  background-color: rgba(240, 248, 255, 0.404);
}
.social_icon {
  z-index: 100;
  inline-size: min-content;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.social_icon a:hover {
  text-decoration: none;
}
h2:before {
  content: "";
  position: absolute;
  background: #dc3545;
  width: 50px;
  height: 3px;
}
.card:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.list-group-item {
  background-color: #0000;
  border: 0;
}
.mix {
  display: inline-block;
  margin: 6px;
}
.mix img{
  max-height: 50vh;
}
.mix img:hover{
  transform: scale(1.1);
}
.gallery_button {
  background: #0000;
  border: 0;
}
.gallery_button:focus {
  outline: 0;
}
#contact_me {

  background-color: rgba(240, 248, 255, 0.404);
}

input{
  color: white !important;
}

@media (max-width: 575.98px) { 
  .social_icon {
    bottom: 0px;
    top: auto;
    transform: none ;
  }


}
